.wrapper {
    margin: 0 6%;
}


.welcome_block {
    color: white;
    padding-top: 87px;
}

.welcome_block > h1 {
    margin-bottom: 43px;
    font-size: 38px;
    font-family: 'Source Sans Pro', sans-serif;
}

.welcome_block > p {
    font-size: 18px;
    max-width: 364px;
    letter-spacing: 1px;
}

.read_news_btn {
    font-size: 23px !important;
}

.read_news_btn:hover {
    border-color: #fbf7f7 !important;
    background-color: #0d7c8e !important;
}

@media(max-width: 1246px) {
    .random_news_card {
        display: none !important;
    }

    .search_news_wrapper {
        margin: 183px 0 0 0 !important;
    }

    .search_news_wrapper > input {
        width: 100% !important;
    }
}