.form_container {
    background: #232c31b3;
    width: 90%;
    margin: 100px 5%;
    position: relative;
}

form {
    padding-top: 50px;
    padding-bottom: 30px;
}

form > h3 {
    color: white;
    text-align: center;
    margin-bottom: 59px;
}

form .title > input, form .description > textarea  {
    background: transparent;
width: 319px;
height: 48px;
font-size: 22px;
padding-left: 11px;
border-radius: 11px;
margin-top: 15px;
}

form .description > textarea {
    height: 114px;
    padding-top: 12px;
    padding-right: 12px;
}

.title, .description {
    display: flex;
flex-direction: column;
margin-left: 5%;
margin-bottom: 44px;
}

form  .title > span, form  .description > span {
    color: #8b9dc3;
}

form > button {
    display: block;
margin: 0 auto;
background: #005182b5;
border: none;
padding: 7px;
width: 191px;
font-size: 22px;
color: white;
border-radius: 5px;
cursor: pointer;
}

form label, .cancel_img {
    background: #00000063;
padding: 10px;
margin-left: 5%;
color: #22b0c8;
cursor: pointer;
}


@media (max-width: 1085px) {

    form > h3 {
        margin-bottom: 0;
    }

    .select_cat {
        position: unset !important;
        display: flex !important;
        justify-content: space-around !important;
        padding: 0 4% !important;
    }

    .select_cat > button {
        outline: none;
        border: navajowhite;
        padding: 7px;
        width: 225px !important;
        cursor: pointer;
        height: 39px;
        margin-bottom: 54px;
        background: #128dd7;
    }

    form {
        display: flex;
        flex-direction: column;
    }
    .title, .description {
        display: flex;
        flex-direction: column;
        margin: 50px auto 0 auto;
    }

    .title > input, .description > textarea {
        width: 82% !important;
        margin: 15px auto;
    }

    form label {
        width: 85% !important;
        margin: 25px 6%;
    }

    .title > span, .description > span {
        margin-left: 7%;
    }

    form label {
        width: 325px;
        margin: 25px auto;
        text-align: center;
    }

    .preview {
        padding-right: 0 !important;
        flex-direction: column;
    }

    .preview > div {
        margin: 0 !important;
        width: 100%;
        align-self: center;
    }

    .preview > img {
        max-height: 259px;
        width: 87%;
        align-self: center;
        margin-top: 35px;
    }

    .label_wrapper > div {
        /* display: block; */
        width: 85%;
        margin-left: 6%;
        text-align: center;
        margin-bottom: 34px;
    }

    .label_wrapper {
        flex-direction: column;
    }

    .selected_img {
        object-fit: contain;
    }

}

.selected_img {
    margin-top: 35px;
    max-height: 259px;
}

.cancel_img {
    margin-left: 2%;
    display: none;
}

.label_wrapper {
    display: flex;
}

.preview {
    display: flex;
    padding-right: 9%;
}

.preview > div {
    margin-left: 4%;
    margin-right: 15%;
}

.select_cat {
    position: absolute;
    position: absolute;
    bottom: 25px;
    right: 36px;
}

.select_cat > button {
    background: #128dd7;
    outline: none;
    border: navajowhite;
    padding: 7px;
    width: 100px;
    cursor: pointer;
}

@media(max-width: 867px) {
    .select_cat {
        margin: 0 5%;
        flex-direction: column;
        padding: 0 !important;
    }

    .select_cat > button {
        width: 100% !important;
        margin-bottom: 27px;
    }
}